{% extends 'base.html' %}

{% block content %}
	<div class="row mb-5">
	{% for article in object_list %}
		<div class="col-md-6 p-3">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<strong class="d-inline-block mb-2 text-primary">Python</strong>
					<h3 class="mb-0">{{article.title}}</h3>
					<p class="card-text mb-auto">{{article.body | slice:":50"}} ...</p>
					<footer class="blockquote-footer"><i>{{article.author}}</i></footer>
					<a href="{% url 'article_detail' article.pk %}" class="stretched-link">Continue reading</a>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock content %}